@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500&display=swap"); /* Maven Pro  font-family: 'Maven Pro', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500&display=swap"); /* Varela Round  font-family: 'Maven Pro', sans-serif; */
 @import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200;300&family=Maven+Pro:wght@400;500&display=swap'); /*font-family: 'Lexend Deca', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Maven Pro', sans-serif;
    
}

:root{
    --bs-dark-color: #1a1d20;
    --bs-dark-primary: #1c1c1c;
    --bs-main-color: #fff;
    --bs-primary-color: #c6c6c6;
    --secondayr-color: #29a9fd;
    --bs-supporting-color: #C850C0;
}

h1,h2,h3,h4,h5{
    font-family: 'Lexend Deca', sans-serif;
    color: var(--bs-dark-color);
}

h1{
    font-size: 2.8rem;
}

h2{
    line-height: 3rem;
    font-weight: 600;
    font-size: 3.4rem;
   
}

.common-section{
  padding: 0 0 9rem 0;
}

    .button-85 {
      /* margin: 35px; */
      /* margin-left: -5px; */
      padding: 0.6em 2em;
      border: none;
      outline: none;
      color: rgb(255, 255, 255);
      background: #111;
      cursor: pointer;
      position: relative;
      z-index: 0;
      border-radius: 20px;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      transition: all .5s linear 0s;
    }
    
    .button-85:before {
      content: "";
      background: linear-gradient(
        45deg,
        #ff0000,
        #ff7300,
        #fffb00,
        #48ff00,
        #00ffd5,
        #002bff,
        #7a00ff,
        #ff00c8,
        #ff0000
      );
      position: absolute;
      top: -2px;
      left: -2px;
      background-size: 400%;
      z-index: -1;
      filter: blur(5px);
      -webkit-filter: blur(5px);
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      animation: glowing-button-85 20s linear infinite;
      transition: opacity 0.3s ease-in-out;
      border-radius: 20px;
    }
    
    @keyframes glowing-button-85 {
      0% {
        background-position: 0 0;
      }
      50% {
        background-position: 400% 0;
      }
      100% {
        background-position: 0 0;
      }
    }
    
    .button-85:after {
      z-index: -1;
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: #222;
      left: 0;
      top: 0;
      border-radius: 20px;
    }

    .button-85:hover{
        transform: scale(1.2);
    }

p{
    margin: 0;
    font-weight: 400;
    font-size: 1rem;
    color: var(--bs-dark-color);
    letter-spacing: 0.07rem;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    overflow: hidden;
}

a{
    text-decoration: none;
    font-size: 1.5rem;
    letter-spacing: 0.03rem;
    word-spacing: .1rem;
}

li{
    list-style: none;
}

.common-heading{
    font-size: 2.8rem;
    font-weight: 500;
    letter-spacing: 0.01rem;
}

.common-title{
    margin-bottom:  4.2rem;
}

/* nab-bar-style */
.nav-link{
    color:  var(--bs-main-color);
    font-weight: bold;
}
.nav-link:hover{
    color: var(--secondayr-color);
}



/* hero-section-start */

.hero-section .container{
    display: grid;
    place-content: center;
    height: inherit;
}

.bg-main{
    height: 80vh;
    position: relative;
}

.navbar{
    /* background-color: #0b1746;
    background-image: linear-gradient(43deg, #0b1746 0%, #523096 46%, #b5d7e2 100%);
    
    border: 2px solid white; */

    background-color: var(--bs-dark-primary);
}
.bg-color{
    /* background-color: #0b1746;
    background-image: linear-gradient(43deg, #0b1746 0%, #523096 46%, #b5d7e2 100%); */

    background-color: var(--bs-dark-primary);
}

.bg-theme{
    color: var(--bs-supporting-color);
    background-image: none ;
}
.text-light-grey{
    color: var(--bs-primary-color);
}
.hero-video--section{
    width: 32rem ;
    border-radius: 3rem;
     border: 2px solid var(--bs-primary-color);
}
.video{
    padding: 10px;
    border-radius: 3rem;
    /* border: 2px solid var(--bs-primary-color); */
}


/* wave-style */
.custom-shape-divider-bottom-1692552980 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1692553118 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1692553118 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 109px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1692553118 .shape-fill {
    fill: #FFFFFF;
}

/* service-section */
.services-section{
    padding: 4rem 0 3rem 0;
}


.button-64 {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-64:active,
.button-64:hover {
  outline: 0;
}

.button-64 span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-64:hover span {
  background: none;
}

@media (min-width: 768px) {
  .button-64 {
    font-size: 24px;
    min-width: 196px;
  }
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.vidsecond{
    height: 300px;
    margin-left: -150px;
}
.how{
    margin-left: -100px;
}

.lin{
margin-top: -60px;
}
.secvid{
    height: 300px;
    border-radius: 20px;
}

.btnthird {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .btnthird:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-btnthird 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  @keyframes glowing-btnthird {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .btnthird:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
  }

  .services-section .card-box{
    padding: 4rem  2.4rem 3rem!important;
    border-radius: .5rem!important;
}

/* CryptoExamples  */

.bitcoin{
  height: 200px;
}

.coinsty{
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 2px 50px rgba(26, 9, 78, 0.486) ;
}

.light{
  height: 200px;
  width: 300px;
  background-image: url(https://static.tradingview.com/static/bundles/frame.e6055902ae09441c6655.svg); 
  display: flex;
  justify-content: center;
  align-items: center;
}

.infosection{
  width: 38rem ;
  /* border-radius: 3rem;
   border: 2px solid var(--bs-primary-color); */
}

/* star rating  */
.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
}
.rate:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.rate:not(:checked) > label {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:30px;
  color:#ccc;
}
.rate:not(:checked) > label:before {
  content: '★ ';
  color: #ffc700;
}
.rate > input:checked ~ label {
  color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}


/* carousel style start */
.carousel .card{
  background-color: #262631;
  color: var(--bs-main-color);
  transition: all 0.3s linear;
}

.carousel-inner .card p{
  color: var(--bs-main-color);
}

.carousel-inner .card:hover{
  background:  var(--bs-main-color);
  color: var(--bs-dark-color);
}
.carousel-inner .card:hover p{
  color: var(--bs-main-colors);
}

.carousel-indicators{
  bottom: -20%;
}
.carousel-indicators [data-bs-target]{
  width: .7rem;
  height: .7rem;
  background-color: var(--secondayr-color);
}
/* carousel style end */


/* contect section start  */

.contect-section{
  position: relative;
}
.custom-shape-divider-top-1692644766 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1692644766 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 177px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1692644766 .shape-fill {
  fill: #1A1D20;
}

.contect-section .form-section{
  width: 50%
}

.formsty{
  width: 60%;
  padding: 2rem;
  background-color: var(--bs-dark-primary);
  border-radius: 20px;
}
.button-73 {
  appearance: none;
  background-color: #FFFFFF;
  border-radius: 40em;
  border-style: none;
  box-shadow: #ADCFFF 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -.24px;
  margin: 0;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-73:hover {
  background-color: #FFC229;
  box-shadow: #FF6314 0 -6px 8px inset;
  transform: scale(1.125);
}

.button-73:active {
  transform: scale(1.025);
}

@media (min-width: 768px) {
  .button-73 {
    font-size: 1.5rem;
    padding: .75rem 2rem;
  }
}


/*footer styling */
.main-footer-section{
  padding: 0 0 4rem 0;
  background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
  
     color: var( --bs-main-color);
 }
 
 .contact-div{
     background-color:  var(--bs-dark-color);
     border-radius: 0px 0px 50px 50px ;
 }
 
 .icon-div{
     width: 5rem;
     height: 5rem;
     /*background: #1089ff;*/
 }
 
 .icon-  {
     width: 2.5rem;
     height: 2.5rem;
     background-color: #1089ff;
     color: var( --bs-main-color);
 }
 
 .icon-span .fa-brands, .fab{
     color:white;
 }
 
 .carousel-indicators{
     bottom: -20%;
 }
 
 .carousel-indicators [data-bs-target]{
     margin-top: 2rem;
     width: .7rem;
     height: .7rem;
     background-color: #143a5f;
 }

 .curvecontact{
  border-radius: 0px 0px 50px 50px ;
 
 }
 .tele{
  border-radius: 0px 0px 0px 50px ;
 }